@use "../_colors";

.item {
  margin-top: 2px;
  margin-bottom: 2px;
  border-style: double;
  border-width: 5px;
  border-radius: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
