@use "../_colors";

.header {
  font-size: 10vw;
  color: colors.$teal-300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: lighter;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: colors.$grey-800;
  font-family: American Typewriter, serif;
}
