@use "../_colors";

.header {
  background-color: colors.$grey-800;
  padding: 50px !important;
  font-size: 100px;
  font-weight: lighter;
  font-family: American Typewriter, serif;

  text-transform: full-width;
  letter-spacing: 0.2em;
}

.title {
  color: colors.$teal-300;
}
